div{
    height: 100vh;
}

.rouge{
    background-color: red;
}

.violet{
    background-color: violet;
}

.bleu{
    background-color: blue;
}

.jaune{
    background-color: yellow;
}

.blanc{
    background-color: white;
    width: 100px;
    height: 100px;
}